@import url('htpps://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');


/* ---------------CSS variables ---------------*/

:root {

  --header-height: 3.5rem;

  


  /* font and typographie*/


  --roboto-font: 'Roboto',sans-serif;
  --mono-font: 'Roboto Mono',monospace;

  /* font weight  */

  --medium: 500;
  --semibold: 600;
  --bold: 700;

  --fs-h1: 2.25rem;
  --fs-h2: 1.875rem;
  --fs-h3: 1.5rem;
  --fs-base: 1rem;
  --fs-sm: 0.875rem;
  --fs-xs: 0.75rem;
  --fs-txt: 1.125rem;

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --primary-color: #007BFF; /* A strong blue color */
  --primary-color-alt: #6C757D; /* A neutral dark gray */
  --text-color: #212529; /* A very dark gray for better readability */
  --text-color-alt: #6C757D; /* A neutral dark gray */
  --bg-color: #F8F9FA; /* A very light gray */
  --bg-color-alt: #E9ECEF; /* A light gray */
  --border-color: #DEE2E6; /* A medium gray */
}





*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  scroll-behavior: smooth;

}

body,
button,
input,
textarea {

  font-family: var(--roboto-font);
  font-size: var(--fs-base);

}

body{

  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5em;
}

h1,
h2,
h3 {

    font-family: var(--mono-font);
    font-weight: var(--bold);

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button{

  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

img {

    max-width: 50%;
    height: auto;

}

textarea,
input {

  background: none;
  border: none;
  outline: none;
}



/**            home                */

.container{

  background-color: gray;
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 0.9rem;
  padding-right:  0.9rem;
  color: #fff;

}

@media screen and (max-width: 480px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.grid{
  display: grid;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 20px;
  
  background-color: transparent;
  color: gray;
}

.section__title {
  font-size: var(--fs-h2);
  line-height: 1.17em;
  font-weight: var(--medium);
  margin-bottom: 0.5em;
  
}

.text-lg{
  font-weight: var(--fs-lg);
  line-height: 1.67em;
  font-size: var(--fs-txt);
}

.text-sm {
  font-size: var(--fs-sm);
  line-height: 1.43em;

}
/************** Header ************************/

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}


.nav {
  background-color: gray;
  height: calc(var(--header-height)+ 0.875rem);
  display: flex;
  height: 30px;
  justify-content: center;
}

.nav__list {
  display: flex;
  column-gap: 3.25rem;
}

.nav__list li a:after{
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  background: white;
  transition: width .5s ease, background-color .5s ease;
}

.nav__list li a:hover::after {
  width: 90%;
  background: white;

}

.nav__link {
  color: white;
  font-size: 00.9rem;
  font-weight: var(--bold);
  font-family: var(--mono-font);
  text-transform: uppercase;
  transition: 0.3s;
}

.nav__link:hover{
  opacity: 0.5;
}

.nav__close,
.nav__toggle {

  display: none;
}

.active-link{
  opacity: 0.5;
}

.active-link::after{
  opacity: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1140px; /* match this with the max-width of your content */
  margin-left: 390px;
  margin-right: auto;
  z-index: 1000; /* Ensure the navbar stays on top of all other elements */
}




.home{
  background-color: #e8eef1;
  background-size: cover;
  background-position: 50%;
  padding-top: 5.5rem;
  margin-bottom: 2.5rem;
  position: relative;
  

}

home::before {

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--linear-gradient);

}

.home__container {
  grid-template-columns: 8fr 1fr 8fr ;
  column-gap:  1.875rem;
  
  
}
  
.home__img,
.home__data {
  z-index: 10;
}

.home__img {

  max-width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 0.3rem;
  transform: translateY(3.125rem);
  box-shadow: 0 0 27px rgb(122, 119, 119);
}

.home__name,
.home_work,
.home__social-link{
  color: white;
  
  padding-left: 2px;
}

.home__name{

  font-size: var(--fs-h2);
  line-height: 1.14em;
  margin: 0.9rem 0 0.23em;
  padding-left: 10px;
  padding-top: 20px;
}

.home__work{
  margin-bottom: 2.5em;
  font-size: var(--fs-txt);
  line-height: 1.14em;
  margin: 0.3rem 0 0.23em;
  padding-left: 10px;
  padding-top: 2px;

}

.profil_wrapper {
  padding: 2.3rem 1.5rem;
  position: relative;
  justify-content: space-between;
  
}

.information {
  display: flex;
  color: white;
  margin: 0.7rem 0;
  align-items: center;
  font-size: var(--fs-txt);
}

.scroll-animation {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
}

.appear {
  opacity: 1;
  transform: translateY(0);
}
.terminal {
  background-color: #000;
  color: #0f0;
  padding: 20px;
  border-radius: 5px;
  font-family: 'Courier New', monospace; /* change this to the font you want */
  white-space: pre-wrap; /* this will preserve spaces and line breaks in your text */
  line-height: 1.5;
  font-size: 16px;
}


.icon{
  padding-right: 1.75rem;
}


.home__social-link{

  
  line-height: 1.36em;
  opacity: 0.4;
  transition: 0.3s;
  color: white;
  justify-content: space-between;
  size: 20px;
  

}

.home__social-link:hover {
  opacity: 2;
  color: white;

}

/***************Profil butto CC *******************/

.dowload__button {
  margin-bottom: 1.65em;
  text-align: center; /* Change justify to center to align buttons in center */
  justify-content: center; /* This line can actually be removed because it doesn't do anything outside of a flex container */
  padding: 20px; /* Adds padding around the button, effectively acting as margin */
}

.button {
  display: inline-block;
  background-color: transparent;
  color: gray;
  padding: 0.5em 4em;
  border-radius: 1.56rem;
  font-weight: var(--semibold);
  transition: 0.3s;
  border: 1px solid gray;
  cursor: pointer;
  margin: 20px auto; /* This centers the block element horizontally and adds top and bottom margin of 20px */
}

.button:hover {
  background-color: var(--primary-color-alt);
  text-decoration: solid;
  font-weight: var(--semibold);
  transition: 1s;
  color: white;
}


.button__textx{
  display: inline-block;
}

/****************Eduaction *********************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* CSS for education and professional experience sections */
.timeline {
  font-family: var(--roboto-font);
  font-size: var(--fs-base);
}

.container_timeline {
  font-family: var(--roboto-font);
  font-size: var(--fs-base);
}

.left,
.right {
  font-family: var(--roboto-font);
  font-size: var(--fs-base);
}

.resume__title {
  font-family: var(--mono-font);
  font-size: var(--fs-h3);
  line-height: 1.17em;
  font-weight: var(--bold);
  margin-bottom: 0.5em;
}


.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #ddd;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container_timeline {
  padding: 20px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container_timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #ddd;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.right::before {
  left: -15px;
}

.right::after {
  left: -12px;
}

.container_timeline::before {
  content: '';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.left::before {
  left: -15px;
}

.left::after {
  left: 541px; /* Increased from -9px to 21px */
}

.resume__title {
  text-align: center;
  margin: 20px;  /* This will add a 20px margin on all sides */
}

/* Existing CSS for font styles */
.section__title, .skills__title, .project__title {
  font-family: var(--mono-font);
  font-size: var(--fs-h3);
  line-height: 1.17em;
  font-weight: var(--bold);
  margin-bottom: 0.5em;

}

.project__date {
  font-size: var(--fs-base);
  color: var(--text-color-alt);
}

.project__description, .project__list li, .skills__list li {
  font-family: var(--roboto-font);
  font-size: var(--fs-base);

}

/* Updated CSS for projects and skills sections */
.projects-grid {
  display: grid;
  grid-template-columns: 1fr; /* This will create a single column layout for projects */
  gap: 2rem;
  padding: 2rem;
  background-color: var(--bg-color-alt);
  border-radius: 0.3rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* This will create a responsive grid layout for skills */
  gap: 2rem;
  padding: 2rem;
  background-color: var(--bg-color-alt);
  border-radius: 0.3rem;
}

@media screen and (max-width: 480px) {
  .skills-grid {
    grid-template-columns: 1fr; /* This will create a single column layout on smaller screens */
  }
}


.project {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* This will create a responsive grid layout within each project */
  grid-gap: 1rem;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
  padding: 1rem;
  transition: transform 0.3s ease;
}

.skill {
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
  padding: 1rem;
  transition: transform 0.3s ease;
}

.project:hover,
.skill:hover {
  transform: scale(1.05); /* This will create a zoom effect on hover */
}

.project__title {
  grid-column: span 2; /* This will make the title span two columns */
  margin-bottom: 1rem;
}

.skill__title {
  margin-bottom: 1rem;
}

.project__description,
.skill__description {
  margin-bottom: 1rem;
}

.project__list,
.skill__list {
  list-style-type: disc; /* This will add bullet points to the list */
  list-style-position: inside;
  padding-left: 1rem;
}


/* Contact Section */
.contact-form {
  display: grid;
  grid-gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea {
  padding: 0.5rem;
  border: 1px solid var(--border-color);
}

/* Footer */
.footer {
  padding: 1rem 0;
  background-color: var(--bg-color-alt);
  text-align: center;
}

.footer__links {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 1rem;
}

.footer__links li:not(:last-child) {
  margin-right: 1rem;
}

.footer__links a {
  color: #fff; /* Set the default color to white */
  transition: color 0.3s ease; /* Add a transition effect for smooth color change */
}

.footer__links a:hover {
  color: #a8c1e4; /* Set the hover color */
}

.terminal {
  background-color: var(--primary-color-alt);
  color: #fff; /* Set the text color to white for better visibility */
  padding: 20px;
  border-radius: 5px;
  font-family: var(--mono-font);
  white-space: pre-wrap;
  line-height: 1.5;
  font-size: var(--fs-base);
}



@media screen and (max-width: 480px) {
  .nav__list {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .home__name {
    font-size: var(--fs-h3);
  }

  .home__img {
    max-width: 60%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .container_timeline {
    width: 60%;
  }

  .left, .right {
    left: 0;
  }

  .timeline::after {
    left: 15px;
  }

  .container_timeline::before, .container_timeline::after {
    left: 15px;
  }
}

@media screen and (max-width: 480px) {
  .projects-grid, .skills-grid {
    grid-template-columns: 1fr;
  }

  .project__title {
    grid-column: span 1;
  }
}

@media screen and (max-width: 480px) {
  .contact-form {
    padding: 1rem;
  }

  .form-group label {
    font-size: var(--fs-sm);
  }
}

@media screen and (max-width: 480px) {
  .home__img {
    max-width: 60%;
  }
}
